
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Rajdhani:wght@500&family=Space+Mono:ital,wght@1,400;1,700&family=Teko:wght@500&family=Work+Sans:wght@300&display=swap');.left_head{
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    font-weight: 600;
}
.fomo{
    font-family: 'Teko', sans-serif;
}
.left_head_1{

}
.fomo_logo{
    height: 100px;
}

.nft_desc{
    font-family: 'Work Sans', sans-serif;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
}
.nft_price_head{
    font-family: 'Work Sans', sans-serif;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 500;
}
.nft_price{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    color: #9900ff;
}

.home_main{
    width: 100%;
    height: 100%;
}
.home_left{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.loader2{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
.Nft_logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nft_card{
    background: rgba( 199, 62, 226, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid rgb(225, 22, 181);
    font-family: 'Rajdhani', sans-serif;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 50px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

